@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center col-6">
    <button id="buttonAction" type="button" class="btn btn-primary col-6" onclick="logica();">Iniciar</button>
</div>
<div class="clearfix">
</div>

<div id="result" class="text-center col-6" style="word-wrap:break-word; background-color:whitesmoke;">
</div>
<script src="~/js/JavaScript.js"></script>